* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mix */
#root {
  text-align: center;
  height: 100vh;
  width: auto;
  background-color: lightgrey;
  padding: 100px;
  position: relative;
}

/* Typo */
h1 {
  margin-bottom: 30px;
  color: #008080;
}

/* lista */
ol {
  margin: auto;
  display: inline-block;
  text-align: left;
}

ol li {
  margin-bottom: 15px;
  font-size: 18px;
  text-transform: uppercase;
  color: #00008B;
}

ol li:before {
  width: 20px;
  content: "";
  display: inline-block;
}

ol li i {
  margin-left: 30px;
  color: grey;
  cursor: pointer;
}

/* input e bottone */
.input_button_container {
  position: absolute;
  right: 80px;
  top: 250px;
}

/* input */
input {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

input:focus, button:focus {
  outline: none;
}

/* bottone */
button {
  padding: 10px;
  border-radius: 10px;
  color: black;
  background-color: coral;
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: middle;
  cursor: pointer;
  animation-name: scalebutton;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@keyframes scalebutton {
  0% {transform: scale(1);}

  50% {transform: scale(1.05);}

  100% {transform: scale(1);}

}
